@use "../../shared/colors";
@use "../../shared/breakpoints";

.sour-gummy-heading {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
}

.sour-gummy-subheading {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
}

.faq__wrapper {
  display: flex;
  flex-direction: column;
  background-color: colors.$global-very-dark-green;
  justify-content: center;
  overflow: visible;
  margin: 0;

  @include breakpoints.sm {
    flex-direction: row;
  }

  .faq__tree {
    visibility: hidden;
    height: 0;
    width: 0;

    @include breakpoints.sm {
      height: auto;
      width: auto;
      visibility: visible;
    }
  }

  .faq__right_side {
    margin: 0;
    width: 100%;

    @include breakpoints.sm {
      width: 60%;
      margin: 0 1rem;
    }
  }

  .faq__header {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: colors.$global-yellow-1;
    @extend .sour-gummy-heading;
    padding: 1rem;

    @include breakpoints.sm {
      padding: 0;
    }
  }

  .faq__subheader {
    font-size: 1.7rem;
    margin-bottom: 1rem;
    color: colors.$global-light;
    @extend .sour-gummy-subheading;
    padding: 1rem;

    @include breakpoints.sm {
      padding: 0;
    }
  }

  .faq__questionlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .faq__questions_container {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    @include breakpoints.sm {
      padding: 0;
    }

    .faq__questions_column {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      @include breakpoints.sm {
        width: auto;
      }
    }
  }
}