@use "../../shared/colors";

.sour-gummy-heading {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
}

.sour-gummy-subheading {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
}

.faq__wrapper {
  display: flex;
  flex-direction: row;
  background-color: colors.$global-very-dark-green;
  justify-content: center;
  overflow: visible;

  .faq__right_side {
    width: 60%;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .faq__header {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: colors.$global-yellow-1;
    @extend .sour-gummy-heading;
  }

  .faq__subheader {
    font-size: 1.7rem;
    margin-bottom: 1rem;
    color: colors.$global-light;
    @extend .sour-gummy-subheading;
  }

  .faq__questionlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .faq__questions_container {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    
    .faq__questions_column {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}

@media (max-width: 800px) {
  .faq__wrapper {
    margin: 0;
    flex-direction: column;

    .faq__tree {
      visibility: hidden;
      height: 0;
      width: 0;
    }

    .faq__right_side {
      margin: 0;
      width: 100%;
    }

    .faq__header {
      padding: 1rem;
    }
    
    .faq__subheader {
      padding: 1rem;
    }

    .faq__questions_container {
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;

      .faq__questions_column {
        width: 100%;
      }
    }
  }
}
