$global-dark-green: #269449;
$global-light-green: #67e67c;
$global-cloud-blue: #afd5f0;
$global-sky-blue: #ace3ee;
$global-yellow-1: #fbe369;
$global-yellow-2: #d3914a;
$global-brown: #684c28;
$global-rocks: #9e9282;
