$global-dark-green: #269449;
$global-light-green: #67E67C;
$global-cloud-blue: #AFD5F0;
$global-sky-blue: #ACE3EE;
$global-yellow-1: #FBE369;
$global-yellow-2: #D3914A;
$global-brown: #684C28;
$global-rocks: #9E9282;
