@use "../../shared/colors";
@use "../../shared/breakpoints";

.sour-gummy-heading {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
}

#footer__wrapper {
  display: flex;
  flex-direction: column;
  background-color: colors.$global-rocks;
  padding-top: 2rem;
  padding-bottom: 1rem;

  font-size: 1.1rem;
  color: colors.$global-light;

  @extend .sour-gummy-heading;
}

#footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;

  div {
    justify-content: center;
  }

  @include breakpoints.sm {
    flex-direction: row;
    :first-child {
      justify-content: flex-start;
    }
    :last-child {
      justify-content: flex-end;
    }
  }

  .footer__flexbox {
    display: flex;
    flex-direction: row;
    gap: 1em;
    text-wrap: nowrap;
    padding: 0.5rem;
    width: 100%;
    align-items: center;

    @include breakpoints.xs {
      padding: 0;
      width: 33%;
    }

    .footer__image {
      img {
        width: 6rem;
      }
    }
  }

  #icons__flexbox {
    a {
      &:hover {
        transform: translateY(-3px);
        transition: 0.2s all ease-in-out;
      }

      transition: 0.2s all ease-in-out;
    }
  }

  .footer__code_of_conduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;

    #nu:hover {
      color: #4E2A84;
      transition: 250ms ease-in-out;
    }
    #mlh:hover {
      color: rgb(232, 184, 60);
      transition: 250ms ease-in-out;
    }
  }

  .footer__school_image {
    display: flex;
    align-items: center;

    img {
      width: 12rem;
    }
  }

  h2 {
    font-weight: 900;
  }

  a {
    color: colors.$global-light;
  }
}
