@use "../../shared/colors";

.sour-gummy-heading {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
}

#footer__wrapper {
  display: flex;
  flex-direction: column;
  background-color: colors.$global-rocks;
  padding-top: 2rem;
  padding-bottom: 1rem;

  font-size: 1.1rem;
  color: colors.$global-light;
  @extend .sour-gummy-heading;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;

  .footer__flexbox {
    width: 33%;
    display: flex;
    flex-direction: row;
    gap: 1em;
    text-wrap: nowrap;
    align-items: center;

    .footer__image {
      img {
        width: 6rem;
      }
    }
  }

  #icons__flexbox {
    a {
      &:hover {
        transform: translateY(-3px);
        transition: 0.2s all ease-in-out;
      }

      transition: 0.2s all ease-in-out;
    }
  }

  .footer__school_image {
    display: flex;
    justify-content: end;
    align-items: center;
    img {
      width: 12rem;
    }
  }

  h2 {
    font-weight: 900;
  }

  a {
    color: colors.$global-light;
  }
}

@media (max-width: 800px) {
  #footer {
    flex-direction: column;

    .footer__flexbox {
      padding: 0.5rem;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
  }
}
