@use "../../shared/colors";
@use "../../shared/breakpoints";

.sour-gummy-heading {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
}

.sour-gummy-subheading {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
}

.sponsors__backdrop {
  background-color: colors.$global-yellow-2;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0;
  flex-direction: column;
  padding-bottom: 5rem;

  @include breakpoints.sm {
    flex-direction: row;
    margin: auto;
    padding-bottom: 10rem;
  }

  .sponsors__tree {
    visibility: hidden;
    height: 0;
    width: 0;

    @include breakpoints.sm {
      visibility: visible;
      width: fit-content;
    }

    img {
      width: 30vw;
      position: absolute;
      left: 0;
      bottom: 3%;

      @include breakpoints.md {
        width: 25vw;
      }
    }
  }

  #sponsors__wave {
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .sponsors__flexbox {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    div {
      height: clamp(80px,10vh,250px);
      max-width: 100vw;

      img {
        height: 85%;
      }
    }
  }

  .sponsors__inner_wrapper {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;

    @include breakpoints.sm {
      margin-left: 20%;
      margin-right: 2.5%;
    }

    .sponsors__header {
      font-size: 2rem;
      margin-bottom: 1rem;
      color: colors.$global-yellow-1;
      @extend .sour-gummy-heading;

      text-align: center;
    }

    .sponsors__subheader {
      font-size: 1.7rem;
      margin-bottom: 1rem;
      color: colors.$global-yellow-1;
      @extend .sour-gummy-heading;

      text-align: center;
    }
  }
}
